$theme-color: (
  "default": #3c8b5e,
  "primary": #005b8f,
  "success": #00c500,
  "warning": #ff9966,
  "danger": #CA0B00,
  "info": #00b0c7,
  "dark": #282a3c,
  "brand": #22b9ff,
  "light": #fff
);
