
$green: #2e7052;


$EP: #ed5565;
$TF: #1ab394;
$PF: #f8d300;
$EA: #f8ac59;
$NR: #5D88FF;


$theme: #2e7052;
$primary: #005b8f;
$success: #00c500;
$warning: #ff9966;
$danger: #CA0B00;
$info: #00b0c7;
$dark: #282a3c;
$brand: #22b9ff;
$light: #fff;
$error: red;
$keyboard: #3d9370;
$key: #2e7052;
$key-active: #c2d0c8;

$icon: lightslategray