
$green: #2e7052;


$EP: #ed5565;
$TF: #1ab394;
$PF: #bbc903;
$EA: #f8ac59;
$NR: #5D88FF;
$SE: #6b6d72;

$PENDENCIES: #ed5565;
$FINALIZED: #1ab394;
$WAITING: #f8d300;
$IN-PROGRESS: #f8ac59;
$NO-REALIZED-YET: #5D88FF;

$keyboard: #3d9370;
$key: #2e7052;
$key-active: #c2d0c8;

$border-colors: rgba(0,0,0,0.4);
$icon: lightslategray;
$unactive-color: rgba(0, 0, 0, 0.5);
