@use '_responsiveness.sass'
.drop-down-an
  max-height: 360px
  overflow: hidden
  -webkit-transition: max-height 0.6s ease-in
  transition: max-height 0.6s ease-in

.drop-up-an
  max-height: 0
  overflow: hidden
  -webkit-transition: max-height 0.6s ease-out
  transition: max-height 0.6s ease-out
