
$green: #368c8c;


$EP: #ed5565;
$TF: #1ab394;
$PF: #f8d300;
$EA: #f8ac59;
$NR: #5D88FF;


$theme: #368c8c;
$primary: #005b8f;
$success: #00c500;
$warning: #ff9966;
$danger: #CA0B00;
$info: #00b0c7;
$dark: #282a3c;
$brand: #22b9ff;
$light: #fff;

$keyboard: #368c8c;
$key: #255e5e;
$key-active: #81dbff;