$EP: #ed5565
$TF: #1ab394
$PF: #ffe451
$EA: #f8ac59
$NR: #5D88FF

$green: #368c8c
@mixin color-situation($color)
  background-color: #{$color}08
  border-bottom: 1px solid $color
  border-top: 1px solid $color
  border-right: 1px solid $color
