@font-face {
      font-family: 'fontello';
      src: url('../../assets/fontello/font/fontello.eot?87886360');
      src: url('../../assets/fontello/font/fontello.eot?87886360#iefix') format('embedded-opentype'),
           url('../../assets/fontello/font/fontello.woff?87886360') format('woff'),
           url('../../assets/fontello/font/fontello.ttf?87886360') format('truetype'),
           url('../../assets/fontello/font/fontello.svg?87886360#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }