.sidebar--hidden
  @include respond-to(medium-screens)
    max-width: 0
    overflow: hidden
    animation: hidden-sidebar 0.5s linear
.sidebar--show
  @include respond-to(medium-screens)
    overflow: hidden
    animation: show-sidebar 0.5s linear

.sidebar--modal
  @include respond-to(medium-screens)
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)

.sidebar--initial
  @include respond-to(medium-screens)
    max-width: 0
    overflow: hidden

@keyframes show-sidebar
  0% 
    max-width: 0
  100%
    max-width: 360px
    
@keyframes hidden-sidebar
  0%
    max-width: 360px
  100%
    max-width: 0
