@use "sass:map";

$status-colors-attendances: ( 
  "TF": #1ab394, 
  "PF":	#bbc903, 
  "EA": #f8ac59, 
  "EP": #ed5565, 
  "NR": #5D88FF,
  "SE": #6b6d72
);

@mixin card-status-attendances($status, $border-large, $transparent) {
  $color: map.get($status-colors-attendances, $status);
  $color-status: $color;
  @if $transparent {
    $color: rgba(0,0,0,0.2);
    background-color: white;
  } 
  @else {
    $color: rgba(0,0,0,0.1);
    background-color: #{$color}08;
  }

  @if $border-large == top {
    border-top: 5px solid $color-status;
    border-left: 1px solid $color;
  }
  @else if $border-large == left {
    border-left: 5px solid $color-status;
    border-top: 1px solid $color;
  }

  border-right: 1px solid $color;
  border-bottom: 1px solid $color;
}
  
  
